[core]
	excludesfile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
	autocrlf = input
[user]
	name = James Deane
	email = {{ .email }}
[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[help]
	autocorrect = 30
[merge]
	log = true
[push]
	default = simple
	followTags = true
[alias]
	# View abbreviated SHA, description, and history graph of the latest 20 commits
	l = log --pretty=oneline -n 20 --graph --abbrev-commit
	# View the current working tree status using the short format
	s = status -s
	# Amend the currently staged files to the latest commit
	amend = commit --amend --reuse-message=HEAD
[init]
	defaultBranch = main
[branch]
	autoSetupMerge = always

{{/* vim: set filetype=toml: */}}
