{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "antigen"
brew "awscli"
brew "b2-tools"
brew "cloudflared"
brew "diff-so-fancy"
brew "fnm"
brew "gh"
brew "git"
brew "httpie"
brew "jq"
brew "mas"
brew "netlify-cli"
brew "node"
brew "ripgrep"
brew "terraform"
brew "tree"
brew "vim"
brew "wget"
brew "z"
brew "zsh-completions"

# Taps
tap "cloudflare/cloudflare"
tap "homebrew/cask-fonts"
tap "homebrew/cask-version"

# Casks
cask "1password"
cask "alfred"
cask "brave-browser"
cask "cloudflare/cloudflare/cf-terraforming"
cask "figma"
cask "firefox-developer-edition"
cask "iterm2"
cask "monitorcontrol"
cask "obsidian"
cask "rectangle"
cask "simplenote"
cask "visual-studio-code"

# Fonts
cask "font-dejavu-sans-mono-for-powerline"

# Mac App Store
mas '1Password for Safari', id: 1569813296
mas 'Save to Pocket', id: 1477385213
mas "Simplenote", id: 692867256
EOF
{{ end -}}
