{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

{{ $taps := list
    "cloudflare/cloudflare"
    "homebrew/cask-fonts"
    "homebrew/cask-versions"
    "jacobbednarz/tap"
    "mike-engel/jwt-cli" -}}

{{ $brews := list
    "ansible"
    "antigen"
    "awscli"
    "bat"
    "caddy"
    "cloudflared"
    "curl"
    "deno"
    "diff-so-fancy"
    "doctl"
    "dog"
    "doggo"
    "duckdb"
    "eza"
    "fd"
    "ffmpeg"
    "flyctl"
    "fzf"
    "gh"
    "git"
    "go"
    "helix"
    "hey"
    "httpie"
    "hurl"
    "just"
    "jq"
    "jwt-cli"
    "lima"
    "marksman"
    "mas"
    "neovim"
    "pipx"
    "pnpm"
    "pyenv"
    "rclone"
    "ripgrep"
    "rust"
    "shellcheck"
    "slides"
    "starship"
    "telnet"
    "terraform-ls"
    "tfenv"
    "thefuck"
    "tmux"
    "tree"
    "typescript-language-server"
    "vim"
    "volta"
    "wget"
    "yt-dlp"
    "zoxide"
    "zsh" -}}

{{ $casks := list
    "1password"
    "1password-cli"
    "alfred"
    "arc"
    "brave-browser"
    "cf-vault"
    "daisydisk"
    "dash"
    "discord"
    "cloudflare/cloudflare/cf-terraforming"
    "figma"
    "firefox-developer-edition"
    "font-dejavu-sans-mono-nerd-font"
    "font-hack-nerd-font"
    "font-jetbrains-mono-nerd-font"
    "font-roboto-mono-nerd-font"
    "font-space-grotesk"
    "iterm2"
    "mockoon"
    "obsidian"
    "orbstack"
    "postman"
    "raycast"
    "rectangle"
    "visual-studio-code"
    "warp" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}

# Mac App Store
mas '1Password for Safari', id: 1569813296
mas 'Pure Paste', id: 1611378436
mas 'Save to Pocket', id: 1477385213
mas 'Tailscale', id: 1475387142
mas 'WhatsApp Desktop', id: 1147396723
EOF
{{ end -}}

{{/* vim: set filetype=bash: */}}
