{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $hostname := promptStringOnce . "hostname" "Hostname" -}}
{{- $setHostname := promptBoolOnce . "set_hostname" "Set Hostname" -}}

[data]
email = {{ $email | quote }}
hostname = {{ $hostname | quote }}
set_hostname = {{ $setHostname }}

[hooks.read-source-state.pre]
command = ".local/share/chezmoi/.install-password-manager.sh"
