#!/usr/bin/env bash

set -eufo pipefail

{{ $taps := list
    "cloudflare/cloudflare"
    "jacobbednarz/tap"
    "mike-engel/jwt-cli" -}}

{{ $brews := list
    "ansible"
    "antidote"
    "awscli"
    "bat"
    "cf-terraforming"
    "cf-vault"
    "cloudflared"
    "curl"
    "curlie"
    "deno"
    "diff-so-fancy"
    "dockutil"
    "doctl"
    "doggo"
    "duckdb"
    "duf"
    "dust"
    "eza"
    "fd"
    "ffmpeg"
    "figlet"
    "flyctl"
    "fzf"
    "gh"
    "git"
    "git-delta"
    "glow"
    "go"
    "gum"
    "helix"
    "hey"
    "hurl"
    "imagemagick"
    "just"
    "jq"
    "jwt-cli"
    "lazygit"
    "lima"
    "marksman"
    "mas"
    "mise"
    "neovim"
    "rclone"
    "ripgrep"
    "rustup"
    "sd"
    "shellcheck"
    "shfmt"
    "slides"
    "starship"
    "telnet"
    "tfenv"
    "tflint"
    "tmux"
    "tree"
    "viddy"
    "vim"
    "volta"
    "wget"
    "xh"
    "yt-dlp"
    "zoxide"
    "zsh" -}}

{{ $casks := list
    "1password"
    "1password-cli"
    "alfred"
    "claude"
    "daisydisk"
    "discord"
    "figma"
    "firefox@developer-edition"
    "font-departure-mono"
    "font-dejavu-sans-mono-nerd-font"
    "font-geist-mono"
    "font-hack-nerd-font"
    "font-jetbrains-mono-nerd-font"
    "font-monaspace"
    "font-roboto-mono-nerd-font"
    "font-space-grotesk"
    "ghostty"
    "hammerspoon"
    "iina"
    "jordanbaird-ice"
    "karabiner-elements"
    "obsidian"
    "orbstack"
    "raycast"
    "rectangle"
    "tailscale"
    "zed" -}}

brew bundle --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
